.container {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.image {
  max-width: 100px;
  height: auto;
}

.text {
  color: var(#{--gray-300});
}
